table {
  border-collapse: collapse;
}

td {
  position: relative;
  padding: 5px 10px;
}

tr.disabledPass td:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 1px solid #111;
  width: 100%;
}

.tableRow:hover {
  background-color: hsl(0, 0%, 96%);
  cursor: pointer;
}

/* .disabledPass {
  text-decoration: line-through;
} */
.nowrap {
  white-space: nowrap;
}
.leaflet-container {
  height: 50vh;
  width: calc(100%);
}

.leaflet-marker-icon {
  border: 0 !important;
  text-align: center;
  width: 10em !important;
  height: 6em !important;
  display: block;
  background-color: transparent;
  padding: 0 !important;
  margin: 0 !important;
  margin-left: -5em !important;
  margin-top: -0.5em !important;
}

.leaflet-marker-icon .satname {
  font-size: 0.75em;
}
.width99 {
  width: 99%;
}

.displayblock,
.displayblock {
  display: block;
}

.scrollable {
  height: 100px; /* Just for the demo          */
  overflow-y: auto; /* Trigger vertical scroll    */
  overflow-x: hidden; /* Hide the horizontal scroll */
  height: 10em;
}

.logviewer {
  width: 100%;
}
.logviewer table {
  width: 100%;
}
/* .logviewer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 15em;
  width: 100%;
} */
/* .trackervierwer {
  position: fixed;
  top:30em;
  right: 0;
  height: 15em;
  width: 15em;
  margin: 1em;
} */

.tracking-active {
  color: red;
  animation: blinker 1s ease-in-out infinite;
}
.tracking-idle {
  color: blue;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.upcoming {
  max-height: 20em;
  overflow: hidden;
}
/* .upcoming {
  position: fixed;
  right: 0;
  height: 25em;
  width: 15em;
  margin: 1em;
} */
.upcoming table {
  /* font-size:  .8em !important; */
}

.tracker_viewer_label {
  width: 5em;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.tracker_viewer_value {
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: inline-block;
}

@keyframes slideup {
  from {
    height: 2em;
  }
  to {
    height: 20em;
  }
}

@keyframes slidedown {
  from {
    height: 20em;
  }
  to {
    height: 2em;
  }
}

.logViewerContainer[aria-expanded] {
  position: absolute;
  width: 98%;
  height: 2em;
  z-index: 300000;
  bottom: 0;
  background-color: white;
  left: 1%;
  border: 1px solid lightgray;
  padding: 1em;
  overflow: hidden;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-name: slidedown;
  animation-direction: normal;
}

.logViewerContainer[aria-expanded="true"] {
  animation-name: slideup;

  height: 20em;
}

.logViewerDetail {
  overflow: scroll;
  height: 100%;
}

.toggler {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  height: 2em;
  width: 2em;
  margin: 0;
  padding: 0;
}

.logViewerContainer[aria-expanded="true"] .toggler {
  background-color: red;
}

.logViewerContainer[aria-expanded="false"] h1 {
  font-size: 0.75em !important;
  margin: 0;
  padding: 0;
  margin-top:-0.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
